*{margin: 0;padding: 0;}

body{background-color: black;}
/*TELAS*/

@media (max-width: 667px){
    #string-span{display:none;}
    #animes-span{display:none;}
}

/*BACKGROUND COLORS*/

.bg-black{background: black;}

.bg-green{background: #2BFF67;}

.bg-purple{background: #853bd4;}

/*STYLES*/
.text-decoration-none{text-decoration: none !important;}

.display-5{font-size: 38px;}

.display-6{font-size: 22px;}

.border-green{border: #2BFF67 solid 2px;}

.border-purple{border: #853bd4 2px solid;}

.bordertop-purple{border-top: 2px solid #853bd4;}

.borderbottom-purple{border-bottom: #853bd4 2px solid;}

.borderleft-purple{border-left: #853bd4 2px solid;}

.bordery-purple{border-top: 2px solid #853bd4; border-bottom: 2px solid #853bd4;}

.cursorh-pointer:hover{cursor: pointer;}

.cursor-pointer{cursor: pointer;}

.text-black{color: black;}

.text-green{color: #2BFF67;}

.text-purple{color: #853bd4;}

.fulljustify {text-align: justify;display: inline-block;text-align-last: left;}

/*UNIVERSAL card-image*/
.anime-image{width: 100%;height: 290px;object-fit: cover;}

/*UNIVERSAL*/
/*NAVBAR*/
.navIcon{width: 50px;opacity: 0.6;transition: 0.3s;}

.navIcon:hover{opacity: 1;}

.loginBtn{
    background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.loginIcon:hover{stroke: green;}

.loginIcon{transition: stroke 0.4s ease-in-out;}

.loginMenu{
    width: 350px;
}

.loginMenu a{
    transition: 0.3s;
}

.loginMenu a:hover{
    color: #853bd4;
    text-decoration: none;
}

.inputLogin{
    outline: none;
    appearance: none;
    transition: 0.4s;
}

.inputLogin:focus{
    outline: none;
    appearance: none;
    box-shadow: none;
    background-color: black;
    border: #2BFF67 solid 2px;
    color: white;
}

.checkboxCustom{
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: black; 
    transition: 0.2s;
    border: #853bd4 2px solid;
    cursor: pointer;
}

.checkboxCustom:checked{
    background-color: #2BFF67;
}

.btn-entrar{
    transition: 0.3s;
}

.btn-entrar:hover{
    background-color: #853bd4;
}
/*NAVBAR span name: String Animes*/
#string-span{
    color: #2BFF67;
    font-size: 20px;
    opacity: 0.6;
    transition: 0.3s;
}

#anime-span{color: #853bd4;font-size: 18px;transition: 0.3s;}

#string-span:hover{opacity: 1;}

/*BANNER*/
.img-banner{width: 100%;height: 10%;}

/*---------------------------------------------------------------------------------------*/

/*PAGINA INDEX*/
/*CARTÃO*/

.card-sinopse{
    justify-content: baseline;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card-sinopse > div {display: inline;padding-right: 10px;
}

.card-sinopse a{position: absolute;color: #2BFF67;}

.btn-editar{transition: 0.4s;width: 80px;}

.btn-editar:hover{background-color: #2BFF67;color: black;font-weight: bolder;}

.btn-excluir{transition: 0.4s;width: 80px;}

.btn-excluir:hover{background-color: red;color: white;font-weight: bolder;}

/*CARTÃO adicionar*/
#formAnime{display: none;}

.card-plus{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.card-form{transition: 0.3s;}

.card-form:hover{border: #853bd4 2px solid;}

/* CARD STYLE */
.card{padding: 15px 15px 40px; transition: 0.4s;}

.card:hover{background: rgb(21, 10, 26);}

.container-card{
    margin:auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-gap: 20px;
    justify-content: center;
}

/*CARTÃO forms*/
.input-adicionar-anime{
    margin-bottom: 10px;
    width: 90%;
    outline: none;
    appearance: none;
}

.input-adicionar-anime::placeholder{text-align: center;color: white;}

.input-adicionar-anime:focus,.input-adicionar-anime:hover {
    border: #853bd4 solid 2px;
    color: white;
}

.select-adicionar-anime{
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-apperance: none;
    -ms-appearance: none;
    appearance: none;
    display: block;
    margin-bottom: 10px;
    width: 90%;
    text-align: center;
    outline: none;
    cursor: pointer;
}

.select-adicionar-anime:focus{border: #853bd4 solid 2px;}

.submit-adicionar-anime{
    appearance: none;
    text-decoration: none;
    outline: none;
    border: none;
    font-weight: bolder;
    margin: 15px 0;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.submit-adicionar-anime:hover{padding: 8px;background-color: #853bd4;color: white;}

/*---------------------------------------------------------------------------------------*/

/*PAGINA ANIMES_TEMPLATE*/
.container-anime-template{
    margin:auto;
    max-width: 100%;
    display: grid;
    grid-template-columns: 80% 20%;
    justify-content: center;
}

.grid-descricao{
    margin:auto;
    max-width: 100%;
    display: grid;
    grid-template-columns: 35% 65%;
    justify-content: center;
}

.div-image-template{width: 100%;}

.image-anime-template{width: 100%;}

.font-anime-template{font-size: 28px;}

.descricao-anime-template{
    width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

/*Tela Cadastro*/
.inputAniversario{
    width: 100%;
    border: #853bd4 2px solid;
    background-color: black;
    color: white;
    outline: none;
    transition: 0.4s;
}

.inputAniversario:focus{
    border: #2BFF67 2px solid;   
}



