*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}
/*TELAS*/

@media (max-width: 667px){
    #string-span{display:none;}
    #animes-span{display:none;}
}

/*BACKGROUND COLORS*/

.bg-black{background: black;}

.bg-2BFF67{background: #2BFF67;}

.bg-853bd4{background: #853bd4;}

/*STYLES*/
.text-decoration-none{text-decoration: none !important;}

.display-5{font-size: 38px;}

.display-6{font-size: 22px;}

.border-2BFF67{border: #2BFF67 solid 2px;}

.border-853bd4{border: #853bd4 2px solid;}

.bordertop-853bd4{border-top: 2px solid #853bd4;}

.borderbottom-853bd4{border-bottom: #853bd4 2px solid;}

.borderleft-853bd4{border-left: #853bd4 2px solid;}

.bordery-853bd4{border-top: 2px solid #853bd4;border-bottom: 2px solid #853bd4;}

.cursorh-pointer:hover{cursor: pointer;}

.cursor-pointer{cursor: pointer;}

.text-black{color: black;}

.text-2BFF67{color: #2BFF67;}

.fulljustify {text-align: justify;display: inline-block;text-align-last: left;}

/*UNIVERSAL*/
/*NAVBAR*/
.navIcon{width: 50px;opacity: 0.6;transition: 0.3s;}

.navIcon:hover{opacity: 1;}

.loginBtn{
    background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.loginIcon:hover{stroke: green;}

.loginIcon{transition: stroke 0.4s ease-in-out;}

/*NAVBAR span name: String Animes*/
#string-span{
    color: #2BFF67;
    font-size: 20px;
    opacity: 0.6;
    transition: 0.3s;
}

#anime-span{color: #853bd4;font-size: 18px;transition: 0.3s;}

#string-span:hover{opacity: 1;}

/*BANNER*/
.img-banner{width: 100%;height: 10%;}

/*---------------------------------------------------------------------------------------*/

/*PAGINA INDEX*/
/*CARTÃO*/
.custom-card{padding: 7px 5px;width: 280px;transition: 0.4s;}

.custom-card:hover{background-color: rgb(21, 10, 26);}

.card-sinopse{
    justify-content: baseline;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card-sinopse > div {display: inline;padding-right: 10px;
}

.card-sinopse a{position: absolute;color: #2BFF67;}

.btn-editar{transition: 0.4s;width: 80px;}

.btn-editar:hover{background-color: #2BFF67;color: black;font-weight: bolder;}

.btn-excluir{transition: 0.4s;width: 80px;}

.btn-excluir:hover{background-color: red;color: white;font-weight: bolder;}

/*CARTÃO adicionar*/
#formAnime{display: none;}

.card-plus{padding-top: 50%;}

.card-form:hover{border: #853bd4 2px solid;}

/* CARD STYLE */
.card{padding: 15px 15px 40px;}

.card:hover{background: rgb(21, 10, 26);}

.container-card{
    margin:auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-gap: 20px;
    justify-content: center;
}

.anime-image{
    width: 100%;
    height: 290px;
    object-fit: cover;
}

/*CARTÃO forms*/
.input-adicionar-anime{
    margin-bottom: 10px;
    width: 90%;
    outline: none;
    appearance: none;
}

.input-adicionar-anime::placeholder{text-align: center;color: white;}

.input-adicionar-anime:focus,.input-adicionar-anime:hover {
    border: #853bd4 solid 2px;
    color: white;
}

.select-adicionar-anime{
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-apperance: none;
    -ms-appearance: none;
    appearance: none;
    display: block;
    margin-bottom: 10px;
    width: 90%;
    text-align: center;
    outline: none;
    cursor: pointer;
}

.select-adicionar-anime:focus{border: #853bd4 solid 2px;}

.submit-adicionar-anime{
    appearance: none;
    text-decoration: none;
    outline: none;
    border: none;
    font-weight: bolder;
    margin: 15px 0;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.submit-adicionar-anime:hover{padding: 8px;background-color: #853bd4;color: white;}

/*---------------------------------------------------------------------------------------*/

/*PAGINA ANIMES_TEMPLATE*/
.div-image-template{width: 30%;}

.image-anime-template{width: 100%;}

.font-anime-template{font-size: 30px;}

.descricao-template{width: 60%;}

.descricao-anime-template{
    font-size: 25px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.card-anime-template{margin: 0;width: 50%;}

.mleft{margin-left: 5%;}

